<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>みんなのタスク (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "タスクを投稿する", new_task_path, class: "btn btn-primary btn-lg btn-task" %></p>
      </div>
    </div>
  </div>
<% else %>
  <center>
    <h1>タスクシェア</h1>
    <h2>今日のタスクを呟いてみんなにシェアしよう</h2>
    <p>モチベーションアップ間違いなし</p>
  </center>
<% end %>
