<% if logged_in? %>
  <div class="container">
    <h3>みんなのタスク (<%= @feed_items.count %>)</h3>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <center>
    <h1>タスクシェア</h1>
    <h2>今日のタスクを呟いてみんなにシェアしよう</h2>
    <p>モチベーションアップ間違いなし</p>
  </center>
<% end %>
