<% provide(:title, "#{@task.name}") %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= @task.name %></h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3><%= @task.introduction %></h3>
    </div>
  </div>
</div>
