<%= link_to "/favorites/#{@task.id}/create",
            method: :post,
            class: 'like',
            remote: true do %>
  <div class="like-btn-like"><i class="fa fa-heart"></i> いいねを登録する</div>
<% end %>
