<%= link_to "/favorites/#{@task.id}/destroy",
            method: :delete,
            class: 'unlike',
            remote: true do %>
  <div class="like-btn-unlike"><i class="fa fa-heart"></i> いいね済み</div>
<% end %>
