<% provide(:title, "プロフィール") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>プロフィール</h1>
    </div>
    <div class="col-md-4">
      <div class="show-picture">
        <%= gravatar_for @user, size: 120, cl: "gravatar user-picture" %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="show-name">
        <%= @user.name %>
      </div>
      <div class="show-introduction">
        <%= @user.introduction %>
      </div>
      <% if current_user == @user %>
        <div class="account-edit"><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
      <% end %>
    </div>
  </div>
</div>
